<div class="carousel-item">
  <div class="content-wrapper">
    <div class="carousel-img">
      {% include icons/intro %}
    </div>
    <h1 class="editable">Website Price Calculator</h1>
    <p class="editable">Get an instant estimate on your next web project with Undercast Media by using our interactive tool.<br />&nbsp;</p>
    <p class="editable"><br />This calculator is meant to give you a rough idea on the average cost of a web project with Undercast Media. Please understand that every project is unique and there are a lot of factors that go into determining the final cost of a project.</p>
    <div class="actions">
      <a class="btn waves-effect waves-light wide" onclick="next()">Get Started</a>
      <a href="https://undercastmedia.com" class="btn btn-inverted waves-effect wide">Return to Full Site</a>
    </div>
  </div>
</div>
