<div class="carousel-item">
  <div class="content-wrapper">
    <h2 class="editable">Additional Features</h2>
    <p class="editable">All of the following features are automatically included in every web project we take on.</p>
    <form>
      <p>
        <input type="checkbox" id="misc1" checked disabled>
        <label for="misc1">Custom Design</label>
      </p>
      <p>
        <input type="checkbox" id="misc2" checked disabled>
        <label for="misc2">Google Analytics</label>
      </p>
      <p>
        <input type="checkbox" id="misc3" checked disabled>
        <label for="misc3">Advanced On-Site SEO</label>
      </p>
      <p>
        <input type="checkbox" id="misc4" checked disabled>
        <label for="misc4">SSL Certificate (HTTPS)</label>
      </p>
      <p>
        <input type="checkbox" id="misc5" checked disabled>
        <label for="misc5">Custom CMS</label>
      </p>
      <p>
        <input type="checkbox" id="misc6" checked disabled>
        <label for="misc6">Contact Form</label>
      </p>
    </form>
    <div class="actions">
      <a class="btn btn-inverted waves-effect prev" onclick="prev()">Back</a>
      <a class="btn waves-effect waves-light next" onclick="next()">See Estimate</a>
    </div>
  </div>
</div>